body { 
    background: url(../images/guts6.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center;
}
ul {
    list-style: none;
}
.title {
    margin-top: 30px;
}
.btn {
    margin: 5px;
}
.newThing {
    background-color: #d0826e;
    border: #d0826e;
    color: white;
    
}
.delete-thing {
    background-color: rgb(114, 62, 33);
    border: rgb(114, 62, 33);
}